<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalManagement">
        <activity
            android:name="za.ac.hospitalmanagementsystem.PostponeActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.AppointmentActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.EditDoctorActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.EditAppointmentActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.EditRecordActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.RecordActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.DoctorAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.PatientRecordActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.AdminActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.AdminAppointmentActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.AdminDoctorActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.AdminPatientsActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.DoctorActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.SetAppointmentActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.PatientActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.DoctorRegisterActivity"
            android:exported="false" />

        <activity
            android:name="za.ac.hospitalmanagementsystem.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.EditDoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.PatientRegisterActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.NewsPatientActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.BaseActivity"
            android:exported="false" />
        <activity
            android:name="za.ac.hospitalmanagementsystem.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>